<html>
    <head>
        <title>Parabains</title>
    </head>
    <body>
        <p>
            This app was created for you to give happy birthday to your
            friends without a specific order, so they wont get mad at you
            because it has no order this way.
        </p>

        <p>
            How to use: call this url passing their names as parameter 
            separated by comma, like the example below.
            https://tuba.work/parabains?names=Alvaro,Nathalia
        </p>
        <p>
            You can also choose your favorite language by passing the "lg" parameter:
            https://tuba.work/parabains?names=Alvaro,Nathalia&lg=pt
        </p>
        <p>
            You can also choose your favorite animation by passing the "a" parameter:
            https://tuba.work/parabains?names=Alvaro,Nathalia&lg=pt&a=1
        </p>

        <p>
            TODO: you can download a gif to send them through you favorite application.
        </p>

    </body>
</html>